.main-trade-nav {
    justify-content: space-between;
    margin: 10px 0px;
}

/* .header-img {
    padding: 10px 50px;
} */

.header-img img {
    height: 60px;
}

.trade-head-text {
    align-content: center;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.trade-head-text p {
    padding: 0px;
    margin: 0px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
}

.trade-head-text span {
    font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */